<!-- saved searches constructed from SAVED_SEARCHES variable in settings.py -->
<div class="row margin-bottom-40">
    {% for search_config in saved_search_urls %}
    <div class="col-sm-4">
        <div class="servive-block servive-block-default">
            <i class="icon-custom rounded-x icon-bg-dark fa {{search_config.1.icon_class}}"></i>
            <a class= "" href='{{search_config.1.url}}'>
                <h2 class="txt-color-blue">{{search_config.1.title}}</h2>
            </a>
            <p>{{search_config.1.desc}}</p>                        
        </div>
    </div>
    {% endfor %}
</div>