/*put package specific styles here...*/

.geom-file-instructions {
    font-size: 14px;
    font-weight: 200;
    color: #888;
    margin-top: 0px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
    display: block;
    padding-left: 18px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.coord-input {
    width: 100% !important;
    height: 25px;
    font-family: courier;
    font-weight: bold;
}

.dms-display {
    font-family: courier;
    font-size: 14px;
    margin-top: 5px;
}

.header-btn-wrapper {
    display: inline-block;
    margin: 10px;
    position: relative;
}

.arches-report-subsection-content {
    min-height: 40px;
}

@media print {
  body * {
    visibility: hidden;
  }
  #report-body-content {
    width: 100%;
    height: auto;
    background-color:red;
    overflow-y: visible;
  }
  #report-body-content, #report-body-content * {
    visibility: visible;
  }
  #report-body-content {
    position: absolute;
    left: 0;
    top: 0;
  }
  .report-title {
      visibility: visible;
      height: 100px !important;
      width: 100%;
  }
}

.servive-block {
    height: 215px;
}
/* home page text */
.ead-welcome {
    color: blue;
    font-size: 16px;
}