{% extends "views/forms/base.htm" %}
{% load i18n %}

{% block form_content %}
<!-- Classification CRUD Form -->

<div id="classification-section">
    <div class="row">
        <div class="col-xs-12" style="padding:0px;">
            <div class="padding-left-10">
                <div style="margin: 20px 15px;" class="alert alert-info fade in">
                    <i class="fa-fw fa fa-info"></i>
                    {% trans "Classify your site by entering the site type and cultural period. Enter dynasty and ruler if available, otherwise leave blank." %}
                </div>
                
                <dl>
                    <!-- Form -->
                    <dd class="arches-RDM-labels">

                        <div class="row">

                            <div class="col-xs-12 col-md-9 col-lg-10">
                                <form class="form-inline hidden-xs" role="form">
                                    <div class="form-group" style="width: 100%">
                                        
                                        <!-- Classification -->
                                        
                                        <div class="col-xs-12 col-sm-6">
                                            {% if resourcetypeid == 'HERITAGE_RESOURCE.E18' %}
                                            <h5 id="arches-names-form" class="section-headline">{% trans "Site Type" %}</h5>
                                            <input style="width:100%;" class="select2 arches-select2-crud-form resource" id="resource-type-dropdown" data-bind="select2: {value: getEditedNode('HERITAGE_RESOURCE_TYPE.E55', 'value'), placeholder: '{% trans 'Site Type' %}', multiple: false, dataKey: 'HERITAGE_RESOURCE_TYPE.E55'}"></input>
                                            {% endif %}
                                            {% if resourcetypeid == 'HERITAGE_RESOURCE_GROUP.E27' %}
                                            <h5 id="arches-names-form" class="section-headline">{% trans "Complex Type" %}</h5>
                                            <input style="width:100%;" class="select2 arches-select2-crud-form resource" id="resource-type-dropdown" data-bind="select2: {value: getEditedNode('HERITAGE_RESOURCE_GROUP_TYPE.E55', 'value'), placeholder: '{% trans 'Complex Type' %}', multiple: false, dataKey: 'HERITAGE_RESOURCE_GROUP_TYPE.E55'}"></input>
                                            {% endif %}
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <h5 id="arches-names-form" class="section-headline">{% trans "Cultural Period" %}</h5>
                                            <input style="width:100%;" class="select2 arches-select2-crud-form resource" id="resource-type-dropdown" data-bind="select2: {value: getEditedNode('CULTURAL_PERIOD.E55', 'value'), placeholder: '{% trans 'Cultural Period' %}', multiple: false, dataKey: 'CULTURAL_PERIOD.E55'}"></input>
                                        </div>
                                        <div class="hidden-xs col-sm-12" style="height:10px;"></div>
                                        <div class="col-xs-12 col-sm-6">
                                            <h5 id="arches-names-form" class="section-headline">{% trans "Dynasty" %}</h5>
                                            <input style="width:100%;" class="select2 arches-select2-crud-form resource" id="resource-type-dropdown" data-bind="select2: {value: getEditedNode('DYNASTY.E55', 'value'), placeholder: '{% trans 'Dynasty' %}', multiple: false, dataKey: 'DYNASTY.E55'}"></input>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <h5 id="arches-names-form" class="section-headline">{% trans "Ruler" %}</h5>
                                            <input style="width:100%;" class="select2 arches-select2-crud-form resource" id="resource-type-dropdown" data-bind="select2: {value: getEditedNode('RULER.E55', 'value'), placeholder: '{% trans 'Ruler' %}', multiple: false, dataKey: 'RULER.E55'}"></input>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-xs-12 col-md-3 col-lg-2">
                                <div class="col-xs-12" style="padding:0px;margin-top:10px;">
                                    {% include 'views/components/add-item-button.htm' %}
                                </div>
                            </div>

                        </div>
                    </dd>
                    <!-- End Form -->
                    
                </dl>
                <div class="col-xs-12">
                    <div class="alert alert-danger branch-invalid-alert" role="alert" style="display:none;">{% trans "A site type and cultural period must be selected. If a ruler has been selected, then a dynasty must also be selected." %}</div>
                </div>
            </div>
        </div>
    </div>
        <!-- Classification Records -->
    <div class="row" style="margin-top:10px">
        <div class="col-xs-12">

            <div class="arches-crud-child-section">
                <dl>
                    <dd class="arches-CRUD-child-title">
                        {% if resourcetypeid == 'HERITAGE_RESOURCE.E18' %}
                        This site has these classifications:
                        {% endif %}
                        {% if resourcetypeid == 'HERITAGE_RESOURCE_GROUP.E27' %}
                        This complex has these classifications:
                        {% endif %}
                    </dd>

                    <dd class="margin-left-5" style="display: none;" data-bind="visible: true">
                        <div data-bind="visible: getBranchLists().length == 0" class="txt-color-blue">{% trans "No classifications defined." %}</div>   

                        <div data-bind='foreach: getBranchLists()'>
                            <div class="arches-crud-record">
                                <a href="javascript:void(0)" class="arches-CRUD-child" title="Delete this record"><i data-bind='click: $parent.deleteItem.bind($parent)' class="arches-CRUD-delete fa fa-times-circle"></i></a>
                                <a href="javascript:void(0)" class="arches-CRUD-child arches-CRUD-edit" data-bind='click: $parent.editItem.bind($parent)' title="Edit this record">
                                    {% if resourcetypeid == 'HERITAGE_RESOURCE.E18' %}
                                    <span data-bind='text: nodes.get("HERITAGE_RESOURCE_TYPE.E55", "label")' style="padding-right:2px;"></span><span class="text-muted arches-crud-type-identifier"> ({% trans "Site Type" %})</span><br>
                                    {% endif %}
                                    {% if resourcetypeid == 'HERITAGE_RESOURCE_GROUP.E27' %}
                                    <span data-bind='text: nodes.get("HERITAGE_RESOURCE_GROUP_TYPE.E55", "label")' style="padding-right:2px;"></span><span class="text-muted arches-crud-type-identifier"> ({% trans "Complex Type" %})</span><br>
                                    {% endif %}
                                    <span data-bind='text: nodes.get("CULTURAL_PERIOD.E55", "label")' style="padding-right:2px;"></span><span class="text-muted arches-crud-type-identifier"> ({% trans "Cultural Period" %})</span><br>
                                    <span data-bind='text: nodes.get("DYNASTY.E55", "label")' style="padding-right:2px;"></span><span class="text-muted arches-crud-type-identifier"> ({% trans "Dynasty" %})</span><br>
                                    <span data-bind='text: nodes.get("RULER.E55", "label")' style="padding-right:2px;"></span><span class="text-muted arches-crud-type-identifier"> ({% trans "Ruler" %})</span>
                                </a>
                            </div>
                        </div>
                    </dd>

                </dl>
            </div>
        </div>
    </div>
</div>
<!-- End Components CRUD -->

{% endblock form_content %}